// Footer Styles
#footer {
  background-color: $background-dark;
  padding-top: 110px;
  padding-bottom: 25px;

  @include respond-to($mobile-only) {
    padding-top: 70px;
  }

  @include respond-to($small-mobile) {
    padding-top: 50px;
  }

  .footer-top {
    max-width: 1000px;
    margin: auto;
    border-bottom: 2px solid #FED141;
    border-bottom-style: outset;
    padding: 20px 5px 40px 5px;

    .footer-top-brand {
      margin-bottom: 2rem;
      display: none;

      @include respond-to($mobile-only) {
        display: block;
      }

      @include respond-to($small-mobile) {
        display: block;
      }
    }

    ul {
      justify-content: space-between;
      display: flex;

      @include respond-to($small-mobile) {
        display: inline-block;

        li {
          margin-top: 1.7rem;
        }
      }

      .footer-link a {
        font-weight: bold;
        font-size: 14px;
        line-height: 140.62%;
        color: $text-yellow;
        text-decoration: none;
        display: flex;
      }

      .footer-link a:hover {
        color: $primary-link-hover-color;
        text-decoration: underline;
      }

      .footer-brand img {
        margin-top: 5px;
      }
    }
  }

  .social-links {
    padding-top: 35px;

    h3 {
      font-weight: bold;
      font-size: 18px;
      line-height: 140.62%;
    }

    ul {
      margin-top: 30px;
      margin-bottom: 36px;

      li {
        display: inline-block;
        padding: 0 12.8px;
      }
    }
  }

  .footer-bottom {
    .footer-text {
      color: $text-yellow;
      font-size: 14px;
      line-height: 140.62%;

      a {
        color: $text-yellow;
        font-size: 14px;
        line-height: 140.62%;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}