.home {
  margin-bottom: 7rem;

  .tutu-logo {
    position: absolute;
    top: 45px;
    left: 51px;

    @media (max-width: 992px) {
      left: 17px;
    }

    @media (max-width: 600px) {
      left: 14px;
    }
  }

  // Hero section
  #hero {
    background: $background-primary;

    .hero-content {
      margin-bottom: -5rem;

      .hero-left-content {
        padding-left: 135px;
        margin-top: 9rem;

        @media (max-width: 1370px) {
          padding-left: 51px;
        }

        @media (max-width: 992px) {
          padding-left: 17px;
        }

        @media (max-width: 600px) {
          padding-left: 14px;
        }

        @include respond-to($small-mobile) {
          margin-top: 8rem;
        }
  
        .hero-text {
          color: $text-white;
    
          h1 {
            font-weight: 900;
            font-size: 64px;
            line-height: 70px;

            @include respond-to($small-mobile) {
              font-size: 47px;
              line-height: 57px;
            }
          }
    
          h6 {
            font-size: 20px;
            line-height: 140.62%;
            margin-top: 39px;

            @include respond-to($small-mobile) {
              margin-top: 27px;
            }
          }
        }
  
        .tutu-join-box {
          background: $background-gray;
          border-radius: 10px;
          padding: 35px 21px 45px 21px;
          max-width: 562px;
          margin-top: 2rem;
  
          h6 {
            color: $text-yellow;
            font-weight: 500;
            font-size: 26px;
            line-height: 37px;
            text-align: center;

            @include respond-to($small-mobile) {
              font-size: 23px;
              line-height: 31px;
            }
          }
  
          .join-control {
            // padding: 0 .8rem;
            margin-top: 33px;
  
            // label {
            //   font-size: 36px;
            //   line-height: 54px;
            //   color: $text-white;
            //   margin-right: 0.7rem;
            // }
            input {
              background: transparent;
              border: none;
              border-bottom: 3px solid $text-white;
              width: 100%;
              color: $text-white;
              font-family: $font-family-primary;
              font-size: 32px;
              outline: none;
              font-weight: 300;

              @include respond-to($small-mobile) {
                font-size: 23px;
                border-bottom: 2px solid $text-white;
              }
            }
            input::placeholder {
              font-family: $font-family-primary;
              color: $text-white;
            }
            input:focus::placeholder {
              color: #ddd;
              opacity: .3;
            }

            .error {
              color: $text-yellow;
            }
          }
  
          #submit-button {
            background-color: $background-gray-2;
            border-radius: 15px;
            color: $text-gray;
            font-weight: 500;
            font-size: 28px;
            border: none;
            width: 100%;
            padding-top: .7rem;
            padding-bottom: .7rem;
            // margin-bottom: 28px;
            margin-top: 44px;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            box-shadow: rgb(27 31 35 / 10%) 0 1px 0;
            box-sizing: border-box;
            touch-action: manipulation;

            @include respond-to($small-mobile) {
              font-size: 23px;
            }

            .spinner {
              display: inline-block;
              width: 2rem;
              height: 2rem;
              vertical-align: -0.125em;
              border: 0.13em solid $text-gray;
              border-right-color: transparent;
              border-radius: 50%;
              animation: 0.75s linear infinite spinner-border;
              margin-right: 1rem;
            }
          }
          #submit-button {
            &:hover {
              background-color: #dbdada;
            }
            &:active {
              background-color: #dddbdb;
              box-shadow: rgb(20 70 32 / 20%) 0 1px 0 inset;
            }
          }

          .success-message {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $background-gray;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 1rem;
            border-radius: 10px;
          }

          .ok-button {
            background-color: $background-primary;
            font-weight: 500;
            font-size: 26px;
            line-height: 37px;
            color: $text-gray;
            border-radius: 15px;
            border: none;
            padding: 0.5rem 5rem;
            margin-top: 1rem;
            -webkit-transition: 0.3s;
            transition: 0.3s;

            &:hover {
              background-color: $primary-btn-hover-background;
            }
          }
        }
      }
  
      .hero-img img {
        // max-height: 90vh;

        @media (max-width: 992px) {
          display: none;
        }
      }
    }
  }

  // App download section
  .app-download {
    margin-top: 5rem;
    padding: 10rem 0 1rem 0;

    @include respond-to($small-mobile) {
      padding: 7rem 0 1rem 0;
    }

    .app-download-promotion {
      padding-right: 5rem;

      @media (max-width: 1350px) {
        padding-right: 3rem;
      }

      @media (max-width: 1280px) {
        padding-right: 0;
      }

      @media (max-width: 992px) {
        margin-top: 3rem;
      }

      .promotion-text {
        // margin-top: 4rem;
  
        h1 {
          font-weight: 600;
          font-size: 64px;
          line-height: 65px;
          color: $text-gray;

          @include respond-to($small-mobile) {
            font-size: 47px;
            line-height: 57px;
          }
        }
      }
      .app-download-btn {
        font-weight: 500;
        font-size: 42px;
        line-height: 70px;
        color: $text-black;
        background-color: $background-primary;
        border-radius: 15px;
        border: none;
        padding: 0.5rem 5rem;
        margin-top: 6rem;
        -webkit-transition: 0.3s;
        transition: 0.3s;

        @media (max-width: 1350px) {
          padding: 0.5rem 3rem;
        }

        @media (max-width: 1200px) {
          margin-top: 3rem;
          padding: 0.5rem 2rem;
        }

        @include respond-to($small-mobile) {
          font-size: 31px;
          line-height: 53px;
        }

        &:hover {
          background-color: $primary-btn-hover-background;
        }
      }
    }

    img {
      @media (min-width: 992px) and (max-width: 1200px) {
        width: 100%;
      }

      @media (max-width: 700px) {
        width: 100%;
      }
    }
  }

  // How it work section
  #how-it-work {
    margin-top: 10rem;
    padding-top: 10rem;

    @include respond-to($small-mobile) {
      padding-top: 7rem;
    }

    .how-it-work-left-content {
      background-color: $background-gray;

      img {
        margin-top: -151px;

        @media (min-width: 992px) and (max-width: 1250px) {
          width: 100%;
        }

        @media (max-width: 1150px) {
          margin-top: -141px;
        }

        @media (max-width: 1120px) {
          margin-top: -131px;
        }

        @media (max-width: 700px) {
          width: 100%;
        }
      }
    }

    .how-it-work-right-content {
      padding: 0 120px;

      @media (max-width: 1440px) {
        padding: 0 80px;
      }

      @media (max-width: 1250px) {
        padding: 0 60px;
      }

      @media (min-width: 992px) and (max-width: 1130px) {
        padding: 0 20px;
      }

      @media (max-width: 992px) {
        padding: 2rem 2rem 4rem 2rem;
      }

      @include respond-to($small-mobile) {
        padding: 2rem 1rem 4rem 1rem
      }

      h1 {
        font-size: 32px;
        line-height: 140.62%;
        color: $text-black;
      }

      p {
        font-size: 20px;
        line-height: 140.62%;
        text-align: justify;
        color: $text-black;
        padding: 20px 0 52px 0;

        @media (min-width: 992px) and (max-width: 1130px) {
          padding: 0 0 25px 0;
        }
      }

      .readmore-btn {
        background-color: $background-gray;
        border-radius: 5px;
        color: $text-white;
        font-size: 18px;
        line-height: 134.77%;
        text-decoration: none;
        padding: 18px 51px;

        &:hover {
          background-color: $gray-btn-hover-background;
        }
      }
    }
  }

  // Join promotion section
  .join-promotion {
    background-color: $background-primary;
    padding: 69px 0;

    .join-promotion-contnet {
      @media (max-width: 992px) {
        padding: 2rem;
      }

      @include respond-to($small-mobile) {
        padding: 1rem;
      }
    }

    .join-promotion-text {
      display: inline-block;
      padding-right: 2.5rem;

      @media (max-width: 1100px) {
        padding-right: 0;
      }

      h1 {
        font-weight: bold;
        font-size: 32px;
        line-height: 140.62%;
        color: $text-gray;
      }

      h2 {
        font-size: 32px;
        line-height: 140.62%;
        color: $text-gray;
        margin-bottom: 0;
      }
    }

    .join-follow-control {
      width: 100%;
      max-width: 550px;
      padding-left: 67px;

      @media (max-width: 1440px) {
        padding-left: 20px;
      }

      @media (min-width: 992px) and (max-width: 1200px) {
        padding: 0 20px;
      }

      @media (max-width: 992px) {
        padding: 0;
        margin-top: 1.5rem;
      }

      // @include respond-to($small-mobile) {
      // 	padding: 2rem 1rem 4rem 1rem
      // }

      input {
        background: rgb(255 255 255 / 80%);
        // border: 3px solid #cfd7de;
        border: 3px solid $dark-color;
        box-sizing: border-box;
        border-radius: 6px 0 0 6px;
        padding: 10px;
        outline: none;
        width: 100%;
        font-size: 27px;
        line-height: 45px;

        &:focus {
          background: rgb(255 255 255 / 100%);
        }

        &::placeholder {
          font-weight: 600;
        }

        @include respond-to($small-mobile) {
          font-size: 23px;
          line-height: 37px;
          border: 2px solid #414141;
        }
      }

      button {
        height: 71px;
        width: 71px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $background-dark;
        color: #ffffff;
        font-size: 29px;
        border: none;
        border-radius: 0 5px 5px 0;
        transition: 0.3s;

        &:hover {
          // background-color: $dark-btn-hover-background;
          svg {
            fill: $text-yellow;
          }
        }

        @include respond-to($small-mobile) {
          height: 61px;
        }

        .spinner {
          display: inline-block;
          width: 2rem;
          height: 2rem;
          vertical-align: -0.125em;
          border: 0.13em solid $text-yellow;
          border-right-color: transparent;
          border-radius: 50%;
          animation: 0.75s linear infinite spinner-border;
        }
      }

      .success-alert {
        background-color: $background-white;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;

        h6 {
          line-height: 26px;
          color: $text-gray;

          span {
            color: $text-black;
          }
        }
      }
    }
  }

  // Excellent app section
  .excellent-app {
    text-align: center;
    margin-top: 7rem;

    h1 {
      font-size: 32px;
      line-height: 48px;
      color: $text-black;
    }
    p {
      font-size: 18px;
      line-height: 135.94%;
      color: $text-black;
    }
    .excellent-app-block {
      background-color: $background-dark;
      margin-top: 64px;

      img {
        margin-bottom: -50px;
        margin-top: 50px;

        @media (max-width: 500px) {
          width: 100%;
        }
      }

      .excellent-app-text {
        text-align: left;

        h1 {
          font-size: 64px;
          line-height: 64px;
          color: $text-yellow;
          margin-bottom: 3rem;

          @include respond-to($small-mobile) {
            font-size: 46px;
            line-height: 57px;
          }
        }
        a {
          font-size: 18px;
          line-height: 140.62%;
          color: $text-white;
          margin-top: 2rem;
        }
      }
    }
  }
}