// App base styles
html,
body,
#root {
  background: $theme-background;
}

body {
  font-family: $font-family-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-primary;
}

a {
  font-family: $font-family-primary;
}

p {
  font-family: $font-family-primary;
}

input, input::placeholder {
  font-family: $font-family-primary;
}

.yellow-text {
  color: $text-yellow;
}