// Variables

// Colors
$yellow-color: #FED141;
$dark-color: #414141;

$theme-background: #FFFFFF;
$background-primary: #FED141;
$background-gray: #787878;
$background-gray-2: #C4C4C4;
$background-dark: #414141;
$background-white: #ffffff;

$primary-btn-hover-background: #f7c72b;
$primary-link-hover-color: #f7c72b;
$gray-btn-hover-background: #696868;
$dark-btn-hover-background: #1f2124;

$text-white: #FFFFFF;
$text-yellow: #FED141;
$text-gray: #787878;
$text-black: #000000;

// Font Familys
$font-family-primary: 'Poppins';