// Variables

// Colors
$theme-background: #FFFFFF;
$background-primary: #FED141;
$background-gray: #787878;
$background-gray-2: #C4C4C4;
$background-dark: #414141;

$primary-btn-hover-background: #f7c72b;

$text-white: #FFFFFF;
$text-yellow: #FED141;
$text-gray: #787878;
$text-black: #000000;

// Font Familys
$font-family-primary: 'Poppins';